$serif-font: Georgia, serif;
$sans-serif-font: Helvetica Neue, TeXGyreHerosRegular, Helvetica, Arial, sans-serif;

$text-color: #000;
$text-color-fallback: #000;

$link-color: rgba(0, 0, 0, .9);
$link-color-fallback: #111;

$link-hover-color: #0064ae;
$link-active-color: #c33012;
